﻿@model IEnumerable<MyVidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</div>

@if (!Model.Any())
{
    <p>No found</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><b>Customer</b></th>
                <th><b>Membership Type</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.Membership.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


